server {
    listen 443 ssl;
    server_name bytegate.ru;

    # Пути к сертификату, ключу и dhparam.pem (как на вашем скриншоте)
    ssl_certificate     /etc/letsencrypt/live/bytegate.ru/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/bytegate.ru/privkey.pem;
    ssl_dhparam         /etc/letsencrypt/live/bytegate.ru/dhparam.pem;

    # Обработка статических файлов - Улучшенная конфигурация
    location /static/ {
        alias /root/clon_open/staticfiles/;
        expires 30d;
        add_header Cache-Control "public, max-age=2592000";

        # Добавим разрешение на доступ
        allow all;

        # Добавим заголовки для cross-origin
        add_header Access-Control-Allow-Origin *;

        # Убедимся, что Nginx имеет права доступа к файлам
        access_log /var/log/nginx/static_access.log;
        error_log /var/log/nginx/static_error.log;

        # Явно определим типы MIME для CSS и JS
        types {
            text/css css;
            application/javascript js;
            image/svg+xml svg;
        }
    }

    # Проксирование запросов к Django
    location / {
        proxy_pass http://0.0.0.0:8000;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $host;
    }

    # Проксирование запросов к FastAPI
    location /whats {
        proxy_pass http://127.0.0.1:5000;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}